* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.title {
    position: absolute;
    top: 10px;
    font-size: 2rem;
    letter-spacing: 0.5rem;
}
.box {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  position: absolute;
  bottom: 2rem;
}
.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-color: lightblue;
}

.btn {
    width: 3rem;
    height: 2rem;
    cursor: pointer;
    background-color: lightblue;
    border: none;
    /* margin-top: 0.5rem; */
}

.blue {
  background-color: #11009e;
}
.purple {
  background-color: #9376e0;
}
.red {
  background-color: #b70404;
}

.grey {
  background-color: #526d82;
}
.green {
  background-color: #00dfa2;
}

@media (max-width: 768px) {
  body {
      padding: 0 2rem;

  } 
   .box {
    width: 100%;
  }
}
